<div class="r-pl15 r-pr15">
  <div class="well">
    <div class="header {{unless collapsed 'bordered'}}">
      <i class="fa fa-retweet"></i>
      <h2 class="inline-block capitalize">{{workflow.name}}</h2>
      <span class="label label-success">{{workflow.element_count}} Services</span>
      <a {{action "toggleCollapse"}} class="toggle hand">{{#if collapsed}}<i class="icon icon-chevron-up"></i>{{else}}<i class="icon icon-chevron-down"></i>{{/if}}</a>
    </div>
    {{#liquid-spacer growDuration=250 containerless=true}}
        <div class='containers-services {{if collapsed 'hide'}}'>
          {{#each services as |service|}}
            <div class="container-service">
              <img src='/hw{{service.iconLocation}}' alt={{service.name}} class="center-block">
              <h4 class="text-center">{{service.name}}</h4>
            </div>
          {{/each}}
        </div>
    {{/liquid-spacer}}
  </div>
</div>
