<section class="modal-deploy-service container-fluid">
  <h1 class="text-center header">Deploy Service Function</h1>
  <div class="content center-block r-mt20">
    <div class="image-container r-mr20  r-pt10 pull-left">
      <img src="/v1/proxy/{{imageEndpoint}}{{serviceFunction.iconLocation}}" alt="" class="function-img">
    </div>
    <div class="service-info">
      <h3 class="r-mb15">{{serviceFunction.name}}</h3>
      <div class="form-group">
        <label>Description</label>
        <div>{{serviceFunction.description}}</div>
      </div>
      <div class="form-group">
        <label>Image</label>
        <div>{{serviceFunction.image}}</div>
      </div>
      <div class="form-group">
        <label>Destination File</label>
        <div>{{serviceFunction.fileLocation}}</div>
      </div>
    </div>
    <hr>
  </div>
  <div class="horizontal-form container-fluid">
    <div class="row form-group r-mt20">
      <div class="col-sm-12 col-md-2 form-label">
        <label>Name*</label>
      </div>
      <div class="col-sm-12 col-md-10 r-mb20">
        {{input class='form-control' value=serviceFunctionInstanceName}}
      </div>
      <div class="col-sm-12 col-md-2 form-label">
        <label>Scale*</label>
      </div>
      <div class="col-sm-1 col-md-1">
        {{scale}}
      </div>
      <div class="col-sm-11 col-md-9">
        {{input-slider value=scale valueMax=11 scaleMax=12}}
      </div>
    </div>
  </div>
  <hr>
  <div class="horizontal-form container-fluid config-params">
    <div class="toggle-advanced">
      <h3 class="r-mb15 text-center">
            <a {{action "toggleConfig"}}>Config Parameters {{#if configShown}}<i class="icon icon-chevron-up"></i>{{else}}<i class="icon icon-chevron-down"></i>{{/if}}</a>
        </h3>
      <div class={{unless configShown 'hide'}}>
        <div class="row form-group r-mt20">
          {{#each configParams  as |config|}}
            <div class="col-sm-12 col-md-2 form-label">
              <label class="force-wrap">{{config.name}}</label>
            </div>
            <div class="col-sm-12 col-md-10 r-mb20">
              {{input class='form-control' value=config.value}}
            </div>
          {{/each}}
        </div>
      </div>
    </div>
  </div>
  {{partial 'launch-or-cancel'}}
</section>
