<div class="r-pl15 r-pr15">
  <div class="well">
    <div class="header {{unless collapsed 'bordered'}}">
      <i class="fa fa-book"></i>
      <h2 class="inline-block">{{function.name}}</h2>
      {{log function}}
      <span class="label label-success">{{function.container_count}} Container</span>
      <a {{action "toggleCollapse"}} class="toggle hand">{{#if collapsed}}<i class="icon icon-chevron-up"></i>{{else}}<i class="icon icon-chevron-down"></i>{{/if}}</a>
    </div>
    <div class="containers" class={{if collapsed 'hide'}}>
      {{#each containers as |container|}}
        {{#link-to 'container' container.id class='container-indv row hand' tagName='div'}}
          <div class="col-sm-3 col-md-4">
            <i class="fa fa-server"></i>
            <span class="inline-block">{{container.name}}</span>
          </div>
          <span class="col-sm-3 col-md-4">{{container.IP}}</span>
          <span class="col-sm-3 col-md-4">{{container.id}}</span>
        {{/link-to}}
      {{/each}}
    </div>
  </div>
</div>
